.signups{
    margin-top: 3%;
    width: 35vw;
    height: fit-content;
    padding: 2rem 3rem;
    border: 1px solid white;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--inter);
}